* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
    font-weight: bold;
  font-size: 1.05rem;
}

body {
  background: radial-gradient(circle at top, #0b1220, #05070d);
  color: #e5e7eb;
  min-height: 100vh;
}
/* PAGE CENTERING */
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* CARD */
.signup-card {
  background: rgba(255,255,255,0.03);
  border: 1px solid #1f2937;
  border-radius: 18px;
  padding: 2.5rem;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 30px 80px rgba(0,0,0,0.6);
}

/* TEXT */
.signup-card h1 {
  font-size: 1.8rem;
  margin-bottom: 0.4rem;
}

.subtitle {
  font-size: 0.9rem;
  color: #9ca3af;
  margin-bottom: 2rem;
}


/* PASSWORD TOGGLE */
.password-wrapper {
  position: relative;
}

.password-wrapper input {
  padding-right: 2.6rem; /* space for eye icon */
}

/* Eye icon */
.toggle-password {
  position: absolute;
  right: 0.9rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1rem;
  opacity: 0.7;
  user-select: none;
}

.toggle-password:hover {
  opacity: 1;
}

/* PASSWORD ICON */
.eye-icon {
  width: 18px;
  height: 18px;
  stroke: #9ca3af;
  fill: none;
  stroke-width: 1.8;
}

.toggle-password:hover .eye-icon {
  stroke: #60a5fa;
}



/* FORM */
.field {
  margin-bottom: 1.2rem;
}

label {
  display: block;
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: #cbd5f5;
}

/* INPUTS */
input {
  width: 100%;
  padding: 0.7rem 0.9rem;
  background: #0b1220;
  border: 1px solid #1f2937;
  border-radius: 10px;
  color: #e5e7eb;
  outline: none;
}

input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px rgba(37,99,235,0.3);
}

/* BUTTON */
button {
  width: 100%;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 999px;
  border: none;
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.gradient-text{
  background: linear-gradient(90deg, #38bdf8, #a78bfa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* ERRORS */
.error {
  display: block;
  font-size: 0.75rem;
  color: #fca5a5;
  margin-top: 0.25rem;
}

.error-box {
  background: rgba(239,68,68,0.15);
  border: 1px solid rgba(239,68,68,0.4);
  padding: 0.7rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}


.footer-text{

  margin-top: 1.8rem;
 font-size: 0.8rem;
  color:#9ca3af;
  text-align: center;
  text-decoration: none;
}
.footer-text a{
text-decoration: none;
color:#60a5fa;
font-weight: bold;
}