{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shortly{% endblock %}</title>
    <link href="{%static 'css/base.css'%}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!-- extra head elements -->
    {% block extra_head %}{% endblock %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'partials/navbar.html' %} 
    {% block content %}
    {% endblock %}
    {% include 'partials/footer.html' %}
    <script src="{% static 'js/base.js' %}"></script>
    {% block extra_js %}{% endblock %}

</body>
</html>