version: '3.8'

services:
  tempo:
    image: grafana/temp:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "4317:4317" #OTLP gRPC
      - "32000:3200"  #Tmpo HTTP

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
