* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  min-height: 100vh;
  background:
    radial-gradient(circle at center, rgba(37,99,235,0.15), transparent 60%),
    #05070d;
  color: #e5e7eb;
}


/* MAIN CONTAINER */
.container {
  min-height: calc(100vh - 72px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* CARD */
.card {
  width: 100%;
  max-width: 520px;
  background: rgba(255,255,255,0.03);
  border: 1px solid #1f2937;
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 40px 90px rgba(0,0,0,0.6);
  text-align: center;
}

/* TEXT */
.card h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: #9ca3af;
  font-size: 0.95rem;
  margin-bottom: 2.5rem;
}

/* INPUT */
.input-group {
  display: flex;
  align-items: center;
  background: #0b1220;
  border: 1px solid #1f2937;
  border-radius: 999px;
  padding: 0.6rem 1rem;
  margin-bottom: 1.8rem;
}

.input-group .icon {
  margin-right: 0.6rem;
  opacity: 0.7;
}

.input-group input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #e5e7eb;
  font-size: 0.95rem;
}

/* BUTTON */
.primary-btn {
  width: 100%;
  padding: 0.9rem;
  border-radius: 999px;
  border: none;
  background: linear-gradient(135deg, #2563eb, #4f46e5);
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

/* HINT */
.hint {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: #9ca3af;
}

.gradient-text{
  background: linear-gradient(60deg, #9bd8f1, #8d72db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .card {
    padding: 2.2rem;
  }

  .navbar {
    padding: 1rem 1.5rem;
  }
}
