{% extends "base/base.html" %}
{% load static %}
{% block title %}
Account Activated 
{% endblock %}
{% block extra_head %}
 <meta http-equiv="refresh" content="4;url={% url 'login' %}">
 {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/activation_success.css' %}">
{% endblock %}


{% block content%}

 <div class="card">
        <div class="icon">✔</div>
        <h1>Account Activated Successfully!</h1>
        <p>Your account has been verified. You can now log in and start using TheKME platform.</p>

        <a href="{% url 'login' %}" class="btn">Go to Login</a>

        <div class="redirect-text">
            You will be redirected automatically in a few seconds...
        </div>
</div>

{% endblock %}
