{% extends "base/base.html" %}
{% load static %}
{% block title %}
Invalid activation link
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/activation_invalid.css' %}">
{% endblock %}


{% block content%}

<div class="card-wrapper">

    <div class="icon">
        ⚠️
    </div>

    <h4 class="title">Activation Link Invalid or Expired</h4>

    <p class="description">
        The activation link is either invalid, expired, or has already been used.
        For security reasons, activation links can only be used once.
    </p>

    <p class="description">
        If your account is not yet activated, you can request a new verification email.
    </p>

    <div class="mt-4 d-flex justify-content-center gap-3">
        <a href="{% url 'login' %}" class="btn btn-outline-secondary btn-custom">
            Back to Login
        </a>

        <a href="{% url 'register' %}" class="btn btn-primary btn-custom">
            Register Again
        </a>
    </div>

</div>

{% endblock %}
