{% extends "base/base.html" %}
{% load static %}
{% block title %}
Auth Choice
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth_css.css' %}">
{% endblock %}


{% block content%}

<main class="page">

  <section class="page-header">
    <h1>Welcome to Shortly</h1>
    <p class="subtitle">
      Choose how you’d like to continue.
    </p>
  </section>


  <section class="choice-card">


    <a href="{% url 'google_login' %}" class="auth-option google">
      <div class="icon">

        <span>G</span>
      </div>
      <div class="text">
        <strong>Continue with Google</strong>
        <span>Fast and secure sign-in</span>
      </div>
    </a>

    <div class="divider">
      <span>or</span>
    </div>


    <a href="{% url 'signup' %}" class="auth-option email">
      <div class="icon">
        ✉️
      </div>
      <div class="text">
        <strong>Sign up with email</strong>
        <span>Create an account using your email</span>
      </div>
    </a>

  </section>


  <p class="note">
    By continuing, you agree to Shortly’s terms and privacy policy.
  </p>

</main>

{% endblock %}