<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login — Shortly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="page">
  <div class="login-card">

    <h1 class="gradient-text">Welcome back</h1>
    <p class="subtitle">
      Log in to manage your links and analytics.
    </p>

    <form method="post">
      {% csrf_token %}

      <!-- NON FIELD ERRORS -->
      {% if form.non_field_errors %}
        <div class="error-box">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <!-- USERNAME -->
      <div class="field">
        <label>Username</label>
        {{ form.username }}
        {% for error in form.username.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>

      <!-- PASSWORD -->
      <div class="field">
        <label>Password</label>
        <div class="password-wrapper">
        {{ form.password }}
        <span class="toggle-password">
            <svg viewBox="0 0 24 24" class="eye-icon">
                <path d="M1 12s4-7 11-7 11 7 11 7-4 7-11 7S1 12 1 12z"/>
                <circle cx="12" cy="12" r="3"/>
            </svg>
        </span>
        </div>
        {% for error in form.password.errors %}
          <span class="error">{{ error }}</span>
        {% endfor %}
      </div>

      <button type="submit">Login</button>
    </form>
    <p class="icon-para">Or continue with</p>
     <a href="{% url 'google_login' %}"  traget="_self">
    <span class="icon"><i class="fa-brands fa-google"></i></span>
    </a>

<!-- 
    <div class="footer-links">
      <a href="#">Forgot password?</a>
    </div> -->

    <p class="footer-text">
      Don’t have an account?
      <a href="{% url 'auth_choice' %}">Create one</a>
    </p>
     <p class="footer-text">
      <a href="{% url 'forgotpassword' %}">forgot password</a>
    </p>

  </div>
</div>
<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
