<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%load static%}
  <title>Log out — Shortly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/logout_confirm.css'%}">
  <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
  <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>
<body>
{%include 'partials/navbar.html'%}
<main class="page">

  <!-- HEADER -->
  <section class="page-header">
    <h1>Log out of Shortly?</h1>
    <p class="subtitle">
      You can log back in anytime to continue managing your links.
    </p>
  </section>

  <!-- CONFIRM CARD -->
  <section class="confirm-card">

    <div class="icon">🔐</div>

    <p class="message">
      Are you sure you want to log out of your account?
    </p>

    <p class="note">
      Your links, analytics, and settings will remain محفوظ and unchanged.
    </p>

    <form method="post">
       {% csrf_token %} 

      <div class="actions">
        <button type="submit" class="btn primarys">
          Yes, log me out
        </button>
        <a href="{%url 'home'%}" class="btn ghost">
          Stay logged in
        </a>
      </div>
    </form>

  </section>

</main>
{%include 'partials/footer.html'%}
</body>
</html>
