{% extends "base/base.html" %}
{% load static %}
{% block title %}
Resent Activation link
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/resend_activation.css' %}">
{% endblock %}

{% block content%}

<div class="card-box text-center">
    <h3>Resend Activation Email</h3>
    <p >Enter your email to receive a new activation link.</p>

    <form method="POST">
        {% csrf_token %}
        <input type="email" name="email" class="form-control mb-3" placeholder="Email" required>
        <button type="submit" class="btn btn-primary w-100">Resend Email</button>
    </form>
</div>

{% endblock %}