<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%load static%}
  <title>Edit Link — Shortly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/edit.css'%}">
<link rel="stylesheet" href="{%static 'css/navbar.css'%}">

</head>
<body>
{%include 'partials/navbar.html'%}
<main class="page">

  <!-- HEADER -->
  <section class="page-header">
    <h1>Edit Short Link</h1>
    <p class="subtitle">
      Update the destination or status of your shortened URL.
    </p>
  </section>

  <!-- CARD -->
  <section class="edit-card">

    <form method="post">
       {% csrf_token %} 

      <!-- SHORT URL (READ ONLY) -->
      <div class="field">
        <label>Short URL</label>
        <input type="text" value="short.ly/{{url.short_code}}" readonly>
      </div>

      <!-- ORIGINAL URL -->
      <div class="field">
        <label>Original URL</label>
        <input
          type="url"
          name="original_url"
          value="{{url.original_url}}"
          required
        >
      </div>
        
        <div class="field">
        <label>Title</label>
        <input
          type="text"
          name="title"
          value="{{url.title}}"
          required
        >
      </div>

      <!-- STATUS -->
      <div class="field">
        <label>Status</label>
        <select name="status">
          <option value="True" selected>Active</option>
          <option value="False">Inactive</option>
        </select>
      </div>

      <!-- ACTIONS -->
      <div class="actions">
        <button type="submit" class="btn primary">Save Changes</button>
        <a href="{%url 'list' %}" class="btn ghost">Cancel</a>
      </div>

    </form>

  </section>

  <!-- HELP TEXT -->
  <section class="note">
    <p>
      Tip: Disabling a link will stop redirection without deleting its history.
    </p>
  </section>

</main>
{%include 'partials/footer.html'%}
</body>
</html>
