{% extends "base/base.html" %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{%static 'css/home.css'%}">
{% endblock %}


{% block content%}

 <main class="container">
    <div class="card">

      <h1>Shorten a link</h1>
      <p class="subtitle">
        Paste your long URL below and generate a clean, shareable link instantly.
      </p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}


      <form method="POST">
        {% csrf_token %}
        <div>
          <input
            type="url"
            name="original_url"
            placeholder="🔗 https://example.com/very/long/link"
            required
          >
        </div>
        <div>

          <input
            type="text"
            name="title"
            placeholder="🔗 tilte of the link"
            required
          >
        </div>

          <input
            type="text"
            name="custom_code"
            placeholder="Custom short URL (optional)"
            pattern="[a-zA-Z0-9_-]{3,20}"
            title="3–20 characters, letters, numbers, - or _"
          />


        <button type="submit" class="primary-btn">
          Create Short Link
        </button>
      </form>

      <p class="hint">
        Your link will be available instantly after creation.
      </p>

    </div>
  </main>

{% endblock %}