<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%load static%}
  <title>Create Short Link — Shortly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/home.css'%}">
  <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
</head>
<body>

  <!-- NAVBAR (reuse your partial in Django later) -->
 {%include 'partials/navbar.html'%}

  <!-- MAIN -->
  <main class="container">
    <div class="card">

      <h1>Shorten a link</h1>
      <p class="subtitle">
        Paste your long URL below and generate a clean, shareable link instantly.
      </p>

      <form method="POST">
        {% csrf_token %}
        <div>
          <input
            type="url"
            name="original_url"
            placeholder="🔗 https://example.com/very/long/link"
            required
          >
        </div>
        <div>

          <input
            type="text"
            name="title"
            placeholder="🔗 tilte of the link"
            required
          >
        </div>

        <button type="submit" class="primary-btn">
          Create Short Link
        </button>
      </form>

      <p class="hint">
        Your link will be available instantly after creation.
      </p>

    </div>
  </main>

</body>
</html>
