<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%load static%}
  <title>Your Links — Shortly</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/list.css'%}">
  <link rel="stylesheet" href="{%static 'css/navbar.css'%}">
  <link rel="stylesheet" href="{%static 'css/footer.css'%}">
</head>
<body>
{%include 'partials/navbar.html'%}
<main class="page">

  <!-- HEADER -->
  <section class="page-header">
    <h1 class="gradient-text">Your Shortened Links</h1>
    <p class="subtitle">
      Manage, monitor, and track the performance of your shortened URLs.
    </p>
      
      <div class="search-wrapper">
{#            <button id="searchToggle" class="search-btn">#}
{#                🔍 Search#}
{#            </button>#}

            <form method="get" id="searchForm" class="search-form">
                <label>
                    <input
                        type="text"
                        name="q"
                        placeholder="Search by title, short link or URL…"
                        value="{{ request.GET.q }}"
                        />
                </label>
                <ul id="suggestions" class="suggestions"></ul>
            </form>
      </div>
  </section>

  <!-- STATS -->
  <section class="stats">
    <div class="stat-card">
      <span class="label">Total Links</span>
      <span class="value" id="total_urls">{{total_urls}}</span>
    </div>
    <div class="stat-card">
      <span class="label">Active Links</span>
      <span class="value green" id="active_urls">{{active_urls}}</span>
    </div>
    <div class="stat-card">
      <span class="label">Disabled Links</span>
      <span class="value red" style="color:red;" id="disabled_urls">{{disabled_urls}}</span>
    </div>
    <div class="stat-card">
      <span class="label">Total Clicks</span>
      <span class="value" id="total">{{total_clicks}}</span>
    </div>
<a href="{%url 'home'%}">
    <div class="stat-card">
      <span class="label">Create new Short Link ➕ </span>
      <span class="value"></span>
    </div>
</a>
  </section>

{% if urls %}
<div class="url-card-container list-view" id="urlCardContainer">

  {% for url in urls %}
  <div class="url-card" id="card-{{ url.id }}">

    <!-- Title -->
    <div class="cell cell-title">
      <img src="https://www.google.com/s2/favicons?domain={{ url.original_url }}" alt="">
      <span class="title">{{ url.title }}</span>
    </div>

    <!-- URLs -->
    <div class="cell cell-links">
      <a href="{{ request.scheme }}://{{ request.get_host }}/{{ url.short_code }}" id="short-url-{{ url.id }}" target="_blank">
        {{ request.scheme }}://{{ request.get_host }}/{{ url.short_code }}
      </a>
      <span class="original-url original">{{ url.original_url }}</span>
    </div>

    <!-- Date -->
    <div class="cell cell-date">
      {{ url.created_at|date:"M d, Y" }}
    </div>

    <!-- Clicks -->
    <div class="cell cell-clicks">
      👁 <span
            class="click-count"
            id="click-count-{{ url.id }}"
            data-url-id="{{ url.id }}"
        >{{ url.click_count }}</span>
    </div>

    <!-- Status -->
    <div class="cell cell-status">
      <span class="status-pill {% if url.is_active %}active{% else %}disabled{% endif %}" id="toggleStatus_{{ url.id }}">
        {% if url.is_active %}Active{% else %}Disabled{% endif %}
      </span>
    </div>

    <!-- Actions -->
    <div class="cell cell-actions">
      <span class="icon-btn {% if url.is_active %}active{% endif %}"
            onclick="toggleStatus('{{ url.id }}')">⏻</span>

      <span class="icon-btn edit"
            onclick="openEdit('{{ url.id }}','{{ url.title }}','{{ url.original_url }}','{{ url.short_code }}')">📝</span>

      <span class="icon-btn delete"
            onclick="openDelete('{{ url.id }}')">🗑</span>

{#      <span class="icon-btn copy"#}
{#            data-url="{{ request.scheme }}://{{ request.get_host }}/redirect/{{ url.short_code }}"#}
{#            onclick="copyToClipboard(this)">📋</span>#}

      <a class="icon-btn share"
        data-url="{{ request.scheme }}://{{ request.get_host }}/{{ url.short_code }}"
         onclick="openShare({{ url.id }})">
        <img src="https://img.icons8.com/?size=100&id=wgYy0nz8B9SS&format=png&color=ffffff" width="20px" height="20px">
      </a>

    </div>

  </div>
  {% endfor %}

</div>
{% else %}
<p>No link to show.</p>
{% endif %}



 <div class="pagination">
  {% if urls.has_previous %}
    <a class="page-btn prev" href="?page={{ urls.previous_page_number }}">← Previous</a>
  {% else %}
    <span class="page-btn disabled">← Previous</span>
  {% endif %}

  <span class="page-info">
    Page {{ urls.number }} of {{ urls.paginator.num_pages }}
  </span>

  {% if urls.has_next %}
    <a class="page-btn next" href="?page={{ urls.next_page_number }}">Next →</a>
  {% else %}
    <span class="page-btn disabled">Next →</span>
  {% endif %}
</div>


  <!-- FOOTNOTE -->
  <section class="note">
    <p>
      Tip: Keep your links organized by monitoring inactive URLs and tracking click trends.
    </p>
  </section>

</main>

<!--edit modal--->
<div class="modal-overlay" id="editModal">
  <div class="modal-card">
    <h2>Edit URL</h2>

    <form id="editForm">
      {% csrf_token %}
      <input type="hidden" id="edit-id">

      <div class="field">
        <label>Title</label>
        <input type="text" id="edit-title">
      </div>

      <div class="field">
        <label>Original URL</label>
        <input type="url" id="edit-url">
      </div>

       <div class="field">
            <label>Custom URL</label>
            <input type="text" id="edit-short_code">
       </div>

      <div class="modal-actions">
        <button type="button" class="btn btn-cancel" onclick="closeEdit()">Cancel</button>
        <button type="submit" class="btn btn-save">Save</button>
      </div>
    </form>
  </div>
</div>


<!--delete modal-->
<div class="modal-overlay" id="deleteModal">
  <div class="modal-card danger">
    <h2>Delete URL?</h2>
    <p>This action cannot be undone.</p>

    <div class="modal-actions">
      <button class="btn modal-ghost" onclick="closeDelete()">Cancel</button>
      <button class="btn modal-danger" onclick="confirmDelete()">Delete</button>
    </div>
  </div>
</div>


{#share modal#}
<!-- Share Overlay -->
<div id="share-overlay" class="share-overlay hidden" onclick="closeShare()"></div>

<!-- Share Card -->
<div id="share-card" class="share-card hidden">
  <div class="share-header">
    <span>Share your Shortly link</span>
    <button onclick="closeShare()">✕</button>
  </div>

  <div class="share-options">
    <a id="share-whatsapp" target="_blank" class="share-item">
      <img src="/static/icons/whatsapp.svg">
      <span>WhatsApp</span>
    </a>

    <a id="share-x" target="_blank" class="share-item">
      <img src="/static/icons/x.svg">
      <span>X</span>
    </a>

    <a id="share-linkedin" target="_blank" class="share-item">
      <img src="/static/icons/linkedin.svg">
      <span>LinkedIn</span>
    </a>

    <a id="share-facebook" target="_blank" class="share-item">
      <img src="/static/icons/facebook.svg">
      <span>Facebook</span>
    </a>

    <div class="share-item" onclick="copyShareLink()">
      <img src="/static/icons/link.svg">
      <span>Copy link</span>
    </div>
  </div>
</div>




<div class="toast-container" id="toastContainer"></div>


{%include 'partials/footer.html'%}
<script>
  const BASE_URL = "{{ request.scheme }}://{{ request.get_host }}";
</script>
<script src="{%static 'js/list.js' %}"></script>
</body>
</html>
