{% extends "base/base.html" %}
{% load static %}
{% block title %}
Rate limiting reached
{% endblock %}

{% block extra_head %}
 <meta http-equiv="refresh" content="{{ retry_after|default:60 }}">
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/analytics.css' %}">
{% endblock %}


{% block content%}

<div class="card">
    <div class="icon">🚦</div>

    <h1>Too Many Requests</h1>

    <p>You’ve made too many requests in a short period.</p>
    <p>Please wait before trying again.</p>

    <div class="countdown">
        Retry in <span id="timer">{{ retry_after|default:60 }}</span> seconds
    </div>

    <button class="btn" onclick="window.location.reload();">
        Retry Now
    </button>

    <div class="footer">
        HTTP 429 — Rate Limit Protection
    </div>
</div>

{% endblock %}

{% block extra_js %}

<script>
    // Countdown timer (visual only)
    let seconds = parseInt(document.getElementById("timer").innerText);

    const interval = setInterval(() => {
        seconds--;
        if (seconds <= 0) {
            clearInterval(interval);
            window.location.reload();
        } else {
            document.getElementById("timer").innerText = seconds;
        }
    }, 1000);
</script>

{% endblock %}