<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate Limit Exceeded</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/rate_limit.css'%}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="icon">⚠️</div>
            <h2>Rate Limit Exceeded</h2>
            <p>
                You’ve made too many requests in a short period of time.
                Please wait a minute before trying again.
            </p>

            <button onclick="goBack()">Go Back</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

</body>
</html>
